

/* .card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:20px;
  align-items: center;
  justify-content: space-around;
  margin-left: 6%;
   max-width: 1200px;
  margin: auto;
} */



.card-container {
   display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  
  width: 100%;
  max-width: 1500px;
  margin: 40px auto;
  padding: 0 20px;
}


.card {
   /* display: grid;
  grid-template-columns: repeat(4, 1fr); */


  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  overflow: hidden;
  transition: 0.4s;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);

  aspect-ratio: 2 / 2;   /* 🔥 Square */
  display: flex;
  flex-direction: column;
}

/* Image takes 50% */
.card img {
  width: 100%;
  height: 50%;
  
}

/* Content section */
.card-content {
  height: 50%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Title */
.card-content h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

/* Description */
.card-content p {
  font-size: 13px;
  opacity: 0.8;
  flex-grow: 1;
  overflow: hidden;
}

/* Button */
.card-content a {
  display: inline-block;
  padding: 6px 14px;
  background: #38bdf8;
  color: black;
  border-radius: 20px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  transition: 0.3s;
}

.card-content a:hover {
  background: white;
}



@media (max-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}